<!-- String Interpolation and Property Binding -->
<h1 class="text-center" [style.color]="color">{{ title }}</h1>
<hr />

<!-- Event Binding -->
<h2>
  {{ content1 }}
  <span
    ><button class="btn btn-primary" (click)="onClick()">Click</button></span
  >
</h2>
<hr />

<!-- Two Way Data Binding -->

<h2>Two Way Data Binding</h2>
<label for="name">Name </label>
<input type="text" name="name" #ServerName [(ngModel)]="twoData" />
<p>Two Way Binded Data : {{ twoData }}</p>
<p></p>
<hr />

<!-- Directives -->
<app-for *ngFor="let number of numbers"></app-for>
<hr />
<div class="contain">
  <h2 *ngIf="show === true">Conditionaly Rendered using ngIf</h2>
</div>
<hr />
<h2 [ngClass]="{ class: show === true }">ngClass</h2>
<hr />
<h2 [ngStyle]="{ backgroundColor: show === true ? 'yellow' : 'red' }">
  ngStyle
</h2>
<hr />

<!-- Custom Prperty -->
<app-alphabets
  *ngFor="let alphabet of alphabets"
  [alphabet]="alphabet"
  (deleteItem)="onDeleteItem($event)"
></app-alphabets>
<hr />

<!-- View Child -->
<app-input-field (submitted)="onSubmit($event)"></app-input-field>
<h2>First Name : {{ firstname }}</h2>
<h2>Last Name : {{ lastname }}</h2>
<hr />

<h2>Parent Component</h2>
<p>Password from Chilld : {{ password }}</p>
<button class="btn btn-primary" (click)="accessChild()">
  Access Child Component
</button>
<hr />

<!-- Conent Child -->
<ng-content></ng-content>
<p>Password from Projected Component : {{ message }}</p>
<button class="btn btn-primary" (click)="accessProjectedContent()">
  Access Projected Content
</button>
<hr />

<!-- LifeCycle -->
<app-lifecycle *ngIf="showlc === true"></app-lifecycle>

<!-- Renderer -->
<app-renderer></app-renderer>
