<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>
            <form
              class="user"
              [formGroup]="registerForm"
              (ngSubmit)="onRegister()"
            >
              <div class="form-group form-group-user">
                <input
                  type="text"
                  class="form-control"
                  id="Name"
                  placeholder=" Name"
                  formControlName="name"
                />
              </div>
              <div class="form-group form-group-user">
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail"
                  placeholder="Email Address"
                  formControlName="email"
                />
              </div>
              <div class="form-group form-group-user">
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <hr />
            </form>
            <div class="text-center">
              <a class="small" routerLink="/login"
                >Already have an account? Login!</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
